<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/Montserrat-Variable.ttf</string>
		<string>Montserrat-Variable.ttf</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>app.wardrobe.outfit-hat</string>
			<key>UTTypeDescription</key>
			<string>Wardrobe Hat Drag Payload</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>app.wardrobe.outfit-top</string>
			<key>UTTypeDescription</key>
			<string>Wardrobe Top Drag Payload</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>app.wardrobe.outfit-bottoms</string>
			<key>UTTypeDescription</key>
			<string>Wardrobe Bottoms Drag Payload</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>app.wardrobe.outfit-shoes</string>
			<key>UTTypeDescription</key>
			<string>Wardrobe Shoes Drag Payload</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
</dict>
</plist>
